<html> 

<head>
   <title>My Library</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
   <script src="nav.js"></script>
   <link rel="stylesheet" type="text/css" href="nav.css">
</head>

<body ng-app="nav" ng-controller="PageController as page">

<section>

<ul class="pills">

  <li id="logo">My Library
  </li>
  
  <li ng-class="{ active:page.isSet(1) }">
    <a href ng-click="page.setTab(1)">Home</a>
  </li>

  <li ng-class="{ active:page.isSet(2) }">
    <a href ng-click="page.setTab(2)">Reading List</a>
  </li>

  <li ng-class="{ active:page.isSet(3) }">
    <a href ng-click="page.setTab(3)">Wish List</a>
  </li>
</ul>

</section>

</body>

</html>